
@font-face {
    font-family: Book;
    src: url(../fonts/BOOKmanOpti-Light.otf);
}

@font-face {
    font-family: Cantatana;
    src: url(../fonts/CantanaOne-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Book;
}

body{
    background-color:black;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

a:hover{
    color: #05F228;
}

.btn{
    background-color: #05F228;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btn:hover{
    background-color: #fff;
}

img{
    max-width: 400px;
}


/* HEADER */

header{
    position: relative;
    padding: 1rem;
    height: 5em;
}

#widthContainer{
    max-width: 1200px;
    margin: 0 auto;

    padding-bottom: 40px;
}

/* HEADER HOME INDEX.HTML - CHASING */

.headerHome{
    background-image: url(../img/headerhome2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    height: 50vh;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.6);
}

.content{
    padding: 40px 0;
    position: absolute;
    text-align: left;
    color: #FFFFFF;
}

header h1{
    font-family: Book;
    font-weight: 100;
}

p{
    font-family: Book, sans-serif;
}

/* HEADER SET .../.HTML GENERAL */

.headerSet{
    background-image: url(../img/portfolio/Photography/clouds/headerSet2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    height: 35vh;
}

.contentSet{
    padding: 40px 0;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    left: 35%;
}
.headerSet .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 35vh;
}

/* NAVBAR */

.navbar{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    z-index: 1;
}

.logo{
    z-index: 1;
}

.navbar .linksNav {
    display: flex;
    gap: 4rem;
    align-items: center;

    z-index: 1;
}

.navbar .togglebtn{
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;

    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: 1;
}

/*  UNDERLINE HOVER LINKS NAV */
.underlineHover{
    display: inline-block;
    position: relative;
}
.underlineHover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #05F228;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underlineHover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/* DROPDOWN MENU*/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0rem;
    top: 80px; 
    height: 0; /* THIS WILL CHANGE ON ToGGLE */
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.0885, 0.32, 1.275);
    z-index: 1;
}

.dropdown_menu a{
    font-size: 1.8rem;
}


.dropdown_menu.open{
    height: 100vh; /* THIS WILL CHANGE ON TOGGLE */


}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li:first-child{
    padding-top: 1.7rem;
}

/* ICONS MENU */

.fa-bars, .fa-xmark{
    cursor: pointer;
    color: #fff;
    background-color: #05F228;
    padding: 0.5rem;
    margin-right: 1rem;
}

.fa-xmark{
    /*padding: 0.5rem 0.62rem;*/
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}

/* RESPOSIVE MENU */ 

@media (max-width: 800px){
    .navbar .linksNav{
        display: none;
    }

    .navbar .togglebtn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
  
}


/* SECTION */

section{
    width: 100%;
    /*max-width: 1600px;*/
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 50vh;
}

/* HOME PAGE */

.emptyContent{
    height: 50vh;

}

#challenges{
    background-color: #ededed;
    padding-top: 60px;
}   

#challenges h2{
    color: #05F228;
    font-size: 1.8rem;
    font-weight: 300;

}
#challenges h2,p, img{
    padding-top: 10px;
}

#challenges p {
    color: #000000;
    padding-bottom: 40px;
}

.challengeContainer{
    text-align: center;
}

.challengeContainer h3{
    margin: 20px 0;
    text-align: left;
}

#imagesPortfolio{
    border: 2px solid #05F228;
    padding: 4px;
    margin: 20px;
}

/*--- FOOTER ---*/

footer{
    padding: 20px;
    padding-bottom: 40px;
    min-height: 30vh;
    margin: 0 auto;
}

.footerLogo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer h3{
    font-family: Book;
    font-weight: 100;
    font-size: 1.5rem;
    color: #05F228;
}
footer a{
    font-family: Tahoma, sans-serif;
    font-size: 1rem;
    text-align: left;
}

#quickLinks, #contactInfo{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#quickLinks ul{
    margin-top: 2rem;
    text-align: left;
    margin-left: 40%;
}

#contactInfo ul{
    color:#fff;
    margin-top: 1.8rem;
    text-align: left;
    margin-left: 25%;
}

#contactInfo ul li{
    padding: 10px;
}

.fa-chevron-right, .fa-envelope, .fa-phone{
    color: #05F228;
}

/* GLOBAL RESPONSIVE MEDIA QUERIES */

@media (min-width: 800px){
    /* GLOBAL */
    .contentSet{
        padding-top: 80px;
        left: 45%;
    }

    /* INDEX.HTML */
    .offerContent{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    /* FOOTER */
    .footer{
        max-width: 1200px;
        margin: 0 auto;
    }	

    .footerFlex{
        display: flex;
    }

    #contactInfo ul{
        text-align: center;
        margin: 0;
    }

   
}